<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例-computed实现</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>


<!-- 进行双向数据绑定 -->
    <div id="root">
       <input type="text" v-model="firstName"> <br>
       <input type="text" v-model="lastName"><br>
       <span>{{fullName}}</span><br>
       <input type="text" v-model="fullName">
    </div>
    <script>
        new Vue({
            el:"#root",
            data:{
                firstName:"张",
                lastName:"三",
            },
            computed:{
                fullName:{
                    set(value){
                        const arr = value.split("-");
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    },
                    get(){
                        return this.firstName+'-'+this.lastName;
                    },
                }
            }
        });
        
    </script>
</body>
</html>